---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Profil",
    titleBottom: "Petani Terverifikasi",
    img: c1,
    alt: "SEO",
    link: "/login",
  },
  {
    index: 2,
    titleTop: "Katalog",
    titleBottom: "Hasil Panen Segar",
    img: c2,
    alt: "SEO",
    link: "/login",
  },
  {
    index: 3,
    titleTop: "Pemesanan",
    titleBottom: "Langsung ke Petani",
    img: c3,
    alt: "SEO",
    link: "/login",
  },
  {
    index: 1,
    titleTop: "Pelacakan",
    titleBottom: "Status Pengiriman",
    img: c4,
    alt: "SEO",
    link: "/login",
  },
  {
    index: 2,
    titleTop: "Pembayaran",
    titleBottom: "Aman dan Mudah",
    img: c5,
    alt: "SEO",
    link: "/login",
  },
  {
    index: 3,
    titleTop: "Langganan",
    titleBottom: "Paket Panen Mingguan",
    img: c6,
    alt: "SEO",
    link: "/login",
  },
];

const description =
  "Fitur utama PanenLangsung untuk membantu petani menjual langsung dan memudahkan konsumen mendapatkan hasil panen terbaik tanpa rantai distribusi panjang.";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Fitur Utama" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
